on: pull_request
name: Build_PR_check
jobs:
  setup-android:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: ./gradlew assembleDebug
    - uses: actions/upload-artifact@master
      with:
        name: Debug APK
        path: app/build/outputs/apk/debug/app-debug.apk
